* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}

/* .mainPicture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.mainPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
